/* Diálogos de sucesso e falha do fluxo de redefinição de senha. */
.modal-password_sucess {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    margin: 0;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, rgb(206, 205, 205), rgba(28, 219, 11, 0.644));
    animation: fadeIn 2s;
   


}
.modal-password_sucess.fechando {
    animation: fadeOut 2s;
}


.modal-password_error {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    margin: 0;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, rgb(206, 205, 205), rgba(219, 18, 11, 0.644));
    animation: fadeIn 4s;
   


}
.modal-password_error.fechando {
    animation: fadeOut 3s;
}








.modal-error-preven {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    margin: 0;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, rgb(206, 205, 205), rgba(219, 18, 11, 0.644));
    animation: fadeIn 4s;
   


}
.modal-error-preven.fechando {
    animation: fadeOut 3s;
}
